{% extends "base.html" %} {% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-col items-center">
            <img alt="profile" class="w-48 h-48 object-cover object-center rounded mb-4" src="https://dummyimage.com/400x400">
            <div class="w-full text-center">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">USER PROFILE</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ user.name }}</h1>
                <div class="flex justify-center mb-4">
                    <span class="flex items-center">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                        </svg>
                    </span>
                </div>
                <div class="w-full mb-5">
                    <div class="flex justify-between">
                        <span class="mr-3 font-semibold">Name:</span>
                        <span class="text-gray-900">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-3 font-semibold">Department:</span>
                        <span class="text-gray-900">{{ request.user.teacher.department }}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-3 font-semibold">Designation:</span>
                        <span class="text-gray-900">{{ request.user.teacher.designation }}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-3 font-semibold">Contact No:</span>
                        <span class="text-gray-900">{{ request.user.teacher.contact_no }}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="mr-3 font-semibold">Date of Birth:</span>
                        <span class="text-gray-900">{{ request.user.teacher.DOB }}</span>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button class="flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                    <h2 class="title-font font-medium text-2xl text-gray-900">Attendance</h2>
                    <p class="leading-relaxed text-base">Student Attendance</p>
                    <a href="" class="text-indigo-500 inline-flex items-center mt-3">Go to Attendance
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                    <h2 class="title-font font-medium text-2xl text-gray-900">Exams</h2>
                    <p class="leading-relaxed text-base">Check Exams Details</p>
                    <a href="" class="text-indigo-500 inline-flex items-center mt-3">Go to Exams
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                    <h2 class="title-font font-medium text-2xl text-gray-900">Assignments</h2>
                    <p class="leading-relaxed text-base">View Given Assignments</p>
                    <a href="" class="text-indigo-500 inline-flex items-center mt-3">Go to Assignments
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                    <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </div>
                    <h2 class="title-font font-medium text-2xl text-gray-900">Results</h2>
                    <p class="leading-relaxed text-base">Check results</p>
                    <a href="" class="text-indigo-500 inline-flex items-center mt-3">Go to Results
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
